.nExp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #333;
    font-family: 'Arial', sans-serif;
    min-height: calc(100vh - 60px);
  }

  .main-container {
    background: linear-gradient(90deg, #73bd24, #AECA0B);
  }

  .navbar-container {
    background-color: #fcfcfa;
    box-shadow: 0px 0px 24px #434a19;
  }
  
  .nExp-header {
    text-align: center;
    padding: 1rem;
    background-color: #AECA0B;
    color: white;
    width: 100%;
  }
  
  .logo {
    height: 50px;
    margin-bottom: 0.5rem;
  }
  
  .nExp-main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    text-align: center;
  }
  
  .menu-item {
    background-color: #fff;
    padding: 5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  
  .menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .menu-item:hover > i {
    color:#73bd24;
  }
  
  .menu-item i {
    font-size: 6rem;
    color: #AECA0B;
    /* color: #73bd24; */
  }
  
  .menu-item p {
    margin: 0.5rem 0 0;
    font-weight: bold;
  }
  
  .nExp-footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
    background-color: #fcfcfa;
    width: 100%;
	  box-shadow: 0px 0px 24px #434a19;

  }

  .nExp-footer a {
    color: #AECA0B;
  }

  .nExp-footer a:hover {
    color: #73bd24;
  }
  