<div class="main-container">
  
    <div class="navbar-container">
      <app-navbar></app-navbar>
    </div>
    
    <div class="nExp-container">
      
        <main class="nExp-main">
          
        </main>
      
        <footer class="nExp-footer">
          <p>&copy; 2025 LOF</p>
          <a href="/home">Inicio</a> | 
          <a href="/configuracion">Configuración</a> | 
          <a href="/soporte">Soporte</a> | 
          <a href="/contacto">Contacto</a>
        </footer>
      </div>
      
</div>