<div class="main-container">
  
    <div class="navbar-container">
      <app-navbar></app-navbar>
    </div>
    
    <div class="herramientas-container">
      
        <main class="herramientas-main">
            <div class="menu-grid">
                <div class="menu-item" (click)="navigateTo('herramientas/usuarios')">
                    <i class="fa-solid fa-user"></i>
                    <p>Usuarios</p>
                </div>
              </div>
        </main>
      
        <footer class="herramientas-footer">
          <p>&copy; 2025 LOF</p>
          <a href="/home">Inicio</a> | 
          <a href="/configuracion">Configuración</a> | 
          <a href="/soporte">Soporte</a> | 
          <a href="/contacto">Contacto</a>
        </footer>
      </div>
      
</div>