<div class="main-container">
  
    <div class="navbar-container">
      <app-navbar></app-navbar>
    </div>
    
    <div class="agenda-container">
      
        <main class="agenda-main">
            <full-calendar [options]="calendarOptions"></full-calendar>
        </main>
      
        <footer class="agenda-footer">
          <p>&copy; 2025 LOF</p>
          <a href="/home">Inicio</a> | 
          <a href="/configuracion">Configuración</a> | 
          <a href="/soporte">Soporte</a> | 
          <a href="/contacto">Contacto</a>
        </footer>
      </div>
      
</div>