li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2d2a2e;
    font-size: 1rem;
}

a:hover {
    color: #AECA0B;
}

.navbar2 {
    position: relative;
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.user-area {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    color: #2d2a2e;
}

.user-info i {
    color: #AECA0B;
}

.logout {
    background-color: transparent;
    border: 2px solid #AECA0B;
    color: #2d2a2e;
}

.logout:hover {
    background-color: #AECA0B;
}

.rolePage:hover {
    cursor: pointer;
    color: #AECA0B;

}

.navbar2 .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.dropdown_menu a:hover {
    color: #fff;
}

.navbar2 .links {
    
    display: flex;
    gap: 2rem;
    margin-top: 15px;
}

.navbar2 .toggle_btn{
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #AECA0B;
    color: #2d2a2e;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease
}

.action_btn:hover{
    scale: 1.05;
    color: #2d2a2e;
}

.action_btn:active {
    scale: 0.95;
}


.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    z-index: 1000;
    height: 0; 
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: auto;
    padding-bottom: 0.5rem;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_logout {
    background: none;
    border: none;
    color: #2d2a2e;
    font-weight: 600;
    cursor: pointer;
}

.dropdown_logout:hover {
    color: #AECA0B;
}

.navbar2 .links li {
    list-style: none;
    height: 100%; /* Se asegura de ocupar todo el espacio del contenedor */
}

.links a {
    display: flex;
    align-items: center;
    height: 100%; /* O usa un valor adecuado según el diseño */
}



.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 992px){
    .navbar2 .links, 
    .navbar2 .action_btn,
    .navbar2 .user-area {
        display: none;
    }

    .navbar2 .toggle_btn {
        display: block;
    }

    .dropdown_menu{
        display: block;   
    }
}

@media (max-width: 576) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

.active {
    font-weight: bold !important;
    text-decoration: underline !important; /* Opcional */
    color: #007bff; /* Cambia el color si lo deseas */
  }
  