.exp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #333;
    font-family: 'Arial', sans-serif;
    min-height: calc(100vh - 60px - 90px);
  }

  .main-container {
    background: linear-gradient(90deg, #73bd24, #AECA0B);
  }

  i {
    background: linear-gradient(90deg, #73bd24, #AECA0B); /* Gradiente */
      -webkit-background-clip: text; /* Aplica el gradiente al ícono */
      -webkit-text-fill-color: transparent; /* Hace el interior transparente para mostrar el gradiente */
  }

  .menu-item:hover i {
    background: linear-gradient(90deg, #AECA0B, #73bd24);; /* Gradiente */
      -webkit-background-clip: text; /* Aplica el gradiente al ícono */
      -webkit-text-fill-color: transparent; /* Hace el interior transparente para mostrar el gradiente */
  }

  .navbar-container {
    background-color: #fcfcfa;
    box-shadow: 0px 0px 24px #434a19;
  }
  
  .exp-header {
    text-align: center;
    padding: 1rem;
    background-color: #AECA0B;
    color: white;
    width: 100%;
  }
  
  .logo {
    height: 50px;
    margin-bottom: 0.5rem;
  }
  
  .exp-main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
  }

  @media (max-width: 1000px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }    
  }


  @media (max-width: 576px) {
    .menu-grid {
      grid-template-columns: 1fr;
    }    
  }

  @media (max-height: 720px) {
    .exp-container {
      margin: 50px 0;
    }
  }
  
  .menu-item {
    background-color: #fff;
    padding: 5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  
  .menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .menu-item:hover > i {
    color:#73bd24;
  }
  
  .menu-item i {
    font-size: 6rem;
    color: #AECA0B;
    /* color: #73bd24; */
  }
  
  .menu-item p {
    margin: 0.5rem 0 0;
    font-weight: bold;
  }
  
  .exp-footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
    background-color: #fcfcfa;
    width: 100%;
	  box-shadow: 0px 0px 24px #434a19;

  }

  .exp-footer a {
    color: #AECA0B;
  }

  .exp-footer a:hover {
    color: #73bd24;
  }
  